/.vs/FourThorp-CardCounters/CopilotIndices/17.14.1368.60722
/.vs/FourThorp-CardCounters/FileContentIndex
/.vs/FourThorp-CardCounters/v17/.wsuo
/.vs
/__pycache__
/BlackJack/__pycache__
/phototaker.py
/raw_python_view.png
/raw_python_view.png~
